language: go

go:
- "1.11"

cache:
  directories:
  - /home/travis/gopath/pkg/mod
  - /home/travis/gopath/bin

install:
- make INSTALL

script:
- make -j4 assert test-ci

after_success:
- bash <(curl -s https://codecov.io/bash)
